<link rel="stylesheet" type="text/css"
href="stylesheet.css">

#content {
  margin: 0 auto;
  width: 900px;
}

#newsroom {
  text-align: center;
  font-height: 100;
  color: purple;
  background-color: orange;
}

.story {
  font-family: Helvetica;
  font-height: 100px;
}

h3 {
  font-style: italics;
}
