

#content {
  margin: 0 auto;
  width: 900px;
}

#newsroom {
  text-align: center;
  font-family: Helvetica;
  padding: 100px;
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 50px;
  color: #e68a00;
  background-color: #331f00;
}

#story{
  font-family: Helvetica;
  font-size: 30px;
  color: #ffbb33;
  font-weight: bold;
}

#byline {
  font-style: italic;
  font-family: Helvetica;
  font-size: 20px;
  padding-top: 15px;
  color: #ffc34d;
}

body {
  background-color: #332200;
  color: #e68a00;
  font-family: Helvetica;
  font-size: 15px;
}

.pquote {
  float: left;
  width: 200px;
  font-weight: bold;
  font-style: italic;
  color: #ffc34d;
  padding-bottom: 0px;
  font-size: 20px;
  margin: 0 5px 5px 0;
}

blockquote {
  margin: 0;
}

#slogan {
  font-family: Helvetica;
  text-align: center;
  color: #331f00;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  padding: 5px;
  background-color: #e68a00;
}

.pquote2 {
  float: right;
  width: 250px;
  font-weight: bold;
  font-style: italic;
  color: #ffc34d;
  padding-top: 20px;
  font-size: 20px;
  margin: 0 5px 5px 0;
}
